body{
    background-color: grey;
}

.result-container{
    display:block;
    margin:auto;
    text-align: center;
    background-image: url('./assets/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:1024px;
    height:768px;
}

.epicode-logo{
    max-width:150px;
    height:auto;
    display: inline-block;
    position: relative;
    object-fit: contain;
    margin-left: 80px;
    margin-top: 20px;
    top:30px;
    right:450px;
}

.result-title{
    color: white;
    font-size: 60px;
    font-family: Outfit;
    text-align: center;
}

.summary{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -50px;
}

#percentage-correct{
    color: white;
    font-weight: lighter;
    font-size: 60px;
    text-align:left;
    margin-top: 80px;
    padding-left: 80px;
}

#percentage-wrong{
    color: white;
    font-weight: lighter;
    font-size: 60px;
    text-align:right;
    margin-top: -120px;
    padding-right: 80px;
}

button{
    width: 270px;
    height: 80px;
    font-size: 40px;
    color: white;
    border-color: white;
    background-color: transparent;
    margin-top: 200px;
    cursor: pointer;
}