@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    font:inherit;
}

body{
    background-color: grey;
    display: flex;
}

.result-container{
    display:block;
    margin:auto;
    text-align: center;
    background-image: url('../assets/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:1024px;
    height:768px;
}

.epicode-logo{
    max-width:150px;
    height:auto;
    display: inline-block;
    position: relative;
    object-fit: contain;
    margin-left: 80px;
    margin-top: 20px;
    top:30px;
    right:450px;
}

.result-title{
    color: white;
    font-size: 60px;
    font-family: Outfit;
    text-align: center;
}

.summary{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
}

#correct-statement{
    color: white;
    font-weight: lighter;
    font-size: 60px;
    text-align:left;
    margin-top: 110px;
    padding-left: 80px;
}

#correct-percentage{
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-align:left;
    margin-top: -30px;
    padding-left: 80px;
}

#correct-questions{
    color: white;
    font-size: 30px;
    text-align:left;
    margin-top: -10px;
    padding-left: 80px;
}

#wrong-statement{
    color: white;
    font-weight: lighter;
    font-size: 60px;
    text-align:right;
    margin-top: -170px;
    padding-right: 50px;
}

#wrong-percentage{
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-align:right;
    margin-top: -10px;
    padding-right: 40px;
}

#wrong-questions{
    color: white;
    font-size: 30px;
    text-align:right;
    margin-top: -10px;
    padding-right: 50px;
}

.container{
    display: flex;
    width: 420px;
    height: 500px;
    margin-top: -250px;
    padding-left: 60px;
    margin-left: 250px;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.circular-progress{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    display: flex;
    background:conic-gradient( #900080 200deg, #00FFFF 0deg );
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content:"";
    position: absolute;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background: url('../assets/bg.jpg');
    background-position: center;
}
 
.progress-value{
    font-size: 40px;
    color: white;
    position: relative;
}

button{
    width: 270px;
    height: 80px;
    font-size: 40px;
    color: white;
    border-color: white;
    background-color: transparent;
    margin-top: -30px;
    cursor: pointer;
}

